@import url(./_reset.css);
@import url(./_base.css);
@import url(./_typography.css);
/* 
* Add your own CSS code below... 
*/

/* Reset Rem  */
html{
    font-size: 10px;
}

/* container background  */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.nav-bar-logo{
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 2rem;
}

.logo-img{
    border-radius: 100%;
    width: 15rem;
    margin-left: 2rem;
}
i{
    line-height: 5rem;
    font-size: 1.6rem;
    font-style:italic;
}
.fa-solid{
    font-size: 3rem;
    margin-right: 0.4rem;
}
.li-text{
    color: rgb(56, 191, 211);
}
.nav-items{
    margin: 2rem;
}
.socials{
    margin-top:2rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 3rem;
}
.social-text ,.social-text2{
    flex-basis: 100%;
    text-transform: uppercase;
}
.socials{
    font-size: 1.2rem;
}
button{
    flex-basis: 100%;
    border: 0.1rem solid;
    padding: 0.6rem;
    border-radius: 0.5rem;
}
.fa-facebook , .fa-twitter{
    font-size: 1.5rem;
}
.social-text2{
    margin-top: 2rem;
    
}
button.twitter-btn{
    border: rgba(56, 190, 211, 0.326) solid 1px;
    margin-top: 0.8rem;
    color: rgb(56, 190, 211);
}
button.facebook-btn{
    border: rgba(56, 190, 211, 0.326) solid 1px;
    margin-top: 0.7rem;
    color: rgb(56, 190, 211);
}
.hr-latest{
    border: 1px dashed rgba(0, 0, 0, 0.128);
    width: 100%;
}
.bottom{
    width: 80%;
    border: 1px dashed rgba(0, 0, 0, 0.128);
}
p{
    font-size: 0.9rem;
    width: 70%;
}

/* main css  */

main{
    margin-left: -4rem;
    flex-basis: 70%;
    margin-top: 3rem;
}
.hero-img{
    width: 100%;
    height: 600px;
   
    
}
.hero-item{
    display: flex;
}
.hero-ul{
    display: flex;
    flex-basis: 100%;
}
.second-nav__item{
    color: rgb(56, 190, 211);
    flex-basis: 25%;
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    
}
.second-nav__item:hover{
    background-color: rgba(56, 190, 211, 0.217);
}

/* subscribe form */
.subscribe{
    display: flex;
    height: 7rem;
    align-items: center;
    
}
.text-form{
    display: flex;
    align-items: center;
    margin-left: 7rem;
}
.fa-envelope{
    font-size: 3.5rem;
}
.text-form p{
    font-size: 1.4rem;
    margin-left: 1.5rem;
}
.subscribe form{
    display: flex;
    margin-right: 5rem;
    gap: 1rem;
}
.blog-thumb{
    height: 14rem;
    width: 100%;
}
.featured-content{
    display: flex;
    gap: 2rem;
}
.featured-content__item{
    flex-basis: 25%;
    margin-top: 2.5rem;
}
.featured-content__item h2{
    margin-top: 1rem;
    color: rgb(56, 191, 211);
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.article-p{
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 100%;
}
.date-read{
    margin-top: 1rem;
    display: flex;
    font-size: 1.2rem;
    gap: 0.5rem;
}
.date-read h3{
    color: gray;
}
.date-read a{
    color: rgb(56, 190, 211);
}


/* footer  */
.footer{
    width: 90%;
    margin-left: 10rem;
    margin-top: 3rem;
}
.footer-item p{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}
.footer-good{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-top: 2rem;
}
.hr-footer{
    border: 0.5px solid rgba(128, 128, 128, 0.32);
}
.footer-item p:not(.copyright){
    gap: 0.5rem;
    font-size: 1.5rem;
}
.footer-item a{
    color: rgb(56, 190, 211);
}
.copyright{
    color: rgba(128, 128, 128, 0.71);
}
.footer__social-links{
    display: flex;
    gap: 1rem;
}
.footer__social-links i{
    font-size: 3.5rem;
    
}
